{% extends 'base.html.twig' %}

{% block title %}Hello NewProductController!{% endblock %}

{% block body %}
    {% set page_title = 'New product' %}
    {% include('header.html.twig') %}
    <div class="content-wrapper">
        <h1>New product</h1>
        {{ form(form) }}
    </div>
{% endblock %}
