{% extends 'base.html.twig' %}

{% block title %}Welcope page{% endblock %}

{% block body %}
    {% set page_title = 'Welcome page' %}
    {% include('header.html.twig') %}
    <div class="content-wrapper">
        <h1>Welcome to Growth App</h1>
        <div><a href="{{ path('new_product') }}">New product</a></div>
        <div><a href="{{ path('sales') }}">Sales</a></div>
    </div>
{% endblock %}
