{% extends 'base.html.twig' %}

{% block title %}Hello SalesController!{% endblock %}

{% block body %}
    {% set page_title = 'Sales' %}
    {% include('header.html.twig') %}
    <div class="content-wrapper">
        <h1>Sales</h1>
    </div>
{% endblock %}
